Header {
  background-color: gray;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

Header ul {
  display: flex;
  flex-direction: column;
}

Landing {
  background-color: black;
  color: white;
}
